scrollSecond{
    0% {
        transform:translateY(0px)
    }
    6.66667% {
        transform:translateY(-512px)
    }
    13.33333% { 
        transform:translateY(-1024px)
    }
    20% {
        transform:translateY(-1536px)
    }
    26.66667% {
        transform:translateY(-2048px)
    }
    33.33333% {
        transform:translateY(-2560px)
    }
    40% {
        transform:translateY(-3072px)
    }
    46.66667% {
        transform:translateY(-3584px)
    }
    53.33333% {
        transform:translateY(3826px)
    }
    60% {
        transform:translateY(2560px)
    }
    66.66667% {
        transform:translateY(2048px)
    }
    73.33333% {
        transform:translateY(1536px)
    }
    80% {
        transform:translateY(1024px)
    }
    86.66667%{
        transform:translateY(512px)
    }
    93.33333%{
        transform:translateY(0px)
    }
    100%{
        transform:translateY(-512px)
    }






















































@keyframes scrollFirstNoPause {
    // Slide 1
    0% {
        transform: translateY(0);
    }

    // Slide 2
    3.225806451612903% {
        transform: translateY(calc((50vh + 121px) * -1));
    }

    // Slide 3
    6.451612903225806% {
        transform: translateY(calc((50vh + 121px) * -2));
    }

    // Slide 4
    9.677419354838708% {
        transform: translateY(calc((50vh + 121px) * -3));
    }

    // Slide 5
    12.903225806451612% {
        transform: translateY(calc((50vh + 121px) * -4));
    }

    // Slide 6
    16.129032258064516% {
        transform: translateY(calc((50vh + 121px) * -5));
    }

    // Slide 7
    19.354838709677416% {
        transform: translateY(calc((50vh + 121px) * -6));
    }

    // Slide 8
    22.58064516129032% {
        transform: translateY(calc((50vh + 121px) * -7));
    }

    // Slide 9
    25.806451612903224% {
        transform: translateY(calc((50vh + 121px) * -8));
    }

    // Slide 10
    29.032258064516128% {
        transform: translateY(calc((50vh + 121px) * -9));
    }

    // Slide 11
    32.25806451612903% {
        transform: translateY(calc((50vh + 121px) * -10));
    }

    // Slide 12
    35.483870967741936% {
        transform: translateY(calc((50vh + 121px) * -11));
    }

    // Slide 13
    38.70967741935483% {
        transform: translateY(calc((50vh + 121px) * -12));
    }

    // Slide 14
    41.93548387096774% {
        transform: translateY(calc((50vh + 121px) * -13));
    }

    // Slide 15
    45.16129032258064% {
        transform: translateY(calc((50vh + 121px) * -14));
    }

    // Slide 16
    48.387096774193544% {
        transform: translateY(calc((50vh + 121px) * -15));
    }

    // Slide 16
    51.61290322580645% {
        transform: translateY(calc((50vh + 121px) * -15));
    }

    // Slide 15
    54.83870967741935% {
        transform: translateY(calc((50vh + 121px) * -14));
    }

    // Slide 14
    58.064516129032256% {
        transform: translateY(calc((50vh + 121px) * -13));
    }

    // Slide 13
    61.29032258064516% {
        transform: translateY(calc((50vh + 121px) * -12));
    }

    // Slide 12
    64.51612903225806% {
        transform: translateY(calc((50vh + 121px) * -11));
    }

    // Slide 11
    67.74193548387096% {
        transform: translateY(calc((50vh + 121px) * -10));
    }

    // Slide 10
    70.96774193548387% {
        transform: translateY(calc((50vh + 121px) * -9));
    }

    // Slide 9
    74.19354838709677% {
        transform: translateY(calc((50vh + 121px) * -8));
    }

    // Slide 8
    77.41935483870967% {
        transform: translateY(calc((50vh + 121px) * -7));
    }

    // Slide 7
    80.64516129032258% {
        transform: translateY(calc((50vh + 121px) * -6));
    }

    // Slide 6
    83.87096774193547% {
        transform: translateY(calc((50vh + 121px) * -5));
    }

    // Slide 5
    87.09677419354838% {
        transform: translateY(calc((50vh + 121px) * -4));
    }

    // Slide 4
    90.32258064516128% {
        transform: translateY(calc((50vh + 121px) * -3));
    }

    // Slide 3
    93.548387096774197% {
        transform: translateY(calc((50vh + 121px) * -2));
    }

    // Slide 2
    96.77419354838709% {
        transform: translateY(calc((50vh + 121px) * -1));
    }

    // Slide 1
    100% {
        transform: translateY(0);
    }
}