body {
    background-color: lavender;
}

.scrollers {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
    width: 22rem;
}

.scroller {
    position: absolute;
    height: 100%;
    width: 50%;

      img {
          width: 100%;
      }
}

#scroller-one {
    animation: 60s ease-in-out infinite scrollFirst;

    img {
        padding: 25vh 0 25vh;
    }
}

#scroller-two {
    animation: 60s ease-in-out infinite scrollSecond;
    right: 2rem;
}

footer {
    .image-block {
        display: none;
    }
}

@keyframes scrollFirst {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-100%);
    }

    40% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scrollSecond {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-25%);
    }

    40% {
        transform: translateY(-50%);
    }

    60% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 800px) {
    .scrollers {
        display: none;
    }
}