body {
    background-color: lavender;
}

.scrollers {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5%;
    width: 400px;
}

.scroller {
    height: 100%;
    width: 200px;

      img {
          width: 100%;
      }
}

#scroller-two {
    transform: translateX(-50px);
}

footer {
    .image-block {
        display: none;
    }
}