.scrollers {
    display: flex;
    height: calc(100% + 6.6vmax);
    position: absolute;
    top: 0;
    right: 5%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 2s ease-in;
    z-index: 1;

    &.fade-in {
        opacity: 1;
    }
}

.scroller {
    position: relative;
    height: 100%;
    width: 160px;

    img {
        width: 160px;
        height: 242px;
    }

    .item {
        height: 242px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px;
        box-sizing: border-box;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#scroller-one {
    animation: 200s ease-in-out infinite scrollFirst;
    margin-right: 1rem;

    img {
        padding: calc((100vh - 242px) / 2) 0 calc((100vh - 242px) / 2);
    }
}

#scroller-two {
    animation: 200s linear infinite scrollSecond;
}

footer {
    .image-block {
        display: none;
    }
}

@mixin moveScrollerOne ($numSlides, $imageHeightPx) {
    $numIntervals: $numSlides * 2;
    $intervalPercentage: 100 / $numIntervals;
    $halfImgHeight: $imageHeightPx / 2;
    $y: 0;

    @for $i from 0 through $numIntervals {
        @if ($i < $numSlides) {
            $y: $i * -1;
        } @else if  ($i == $numSlides) {
            $y: ($numSlides - 1) * -1;
        } @else {
            $y: ($numIntervals - $i - 1) * -1;
        }

        #{$intervalPercentage * $i}% {
            transform: translateY(calc(102vh * #{$y}));
        }
    }
}

@mixin moveScrollerTwo($numSlides, $imageHeightPx, $marginBtmPx) {
    $numIntervals: $numSlides * 2 + 2;
    $slideHeight: $imageHeightPx + $marginBtmPx;
    $intervalPercentage: 100 / $numIntervals;
    $y: 0;

    @for $i from 0 through $numIntervals {
       @if ($i <= $numSlides) {
            $y: $slideHeight * $i * -1;
        } @else if ($i == $numSlides + 1) {
            $y: $slideHeight * $numSlides * -1;
        } @else if ($i == $numIntervals){
            $y: 0;
        } @else {
            $y: ($i - $numIntervals + 1) * $slideHeight;
        }

        #{$intervalPercentage * $i}% {
            transform: translateY(#{$y}px);
        }
    }
}

@keyframes scrollFirst {
    @include moveScrollerOne(16, 242);
}


@keyframes scrollSecond {
    @include moveScrollerTwo(13, 258, 0);
}

@media only screen and (max-width: 1030px) {
    #scroller-one {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .scrollers {
        display: none;
    }
}

